body {
  overflow-x: hidden !important;
  overflow-y: auto;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  position: relative; }

.row {
  margin: 0; }

header nav {
  padding-top: 0px !important;
  border-width: 5px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-image: linear-gradient(to right, #006687, #57B847 110%);
  border-image-slice: 2;
  background: #1e2024;
  transition: all 0.4s ease; }
  header nav .navbar-nav {
    margin: 0 auto; }
    header nav .navbar-nav .nav-item .nav-link {
      color: white;
      border-top: 5px solid #1e2024; }
      header nav .navbar-nav .nav-item .nav-link.active {
        border-width: 5px;
        border-style: solid;
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        border-image: linear-gradient(to right, #006687, #57B847 110%);
        border-image-slice: 2; }
@media only screen and (max-width: 991px) {
  header nav .navbar-nav .nav-item .nav-link.active {
    border: 0; } }

main {
  padding-top: 3em; }
  main .anchor-padding {
    padding-top: 50px;
    margin-top: -50px; }
  main .container-fluid {
    padding: 0; }
  /* main #head-panel {
    padding-bottom: 4rem; } */
    main #head-panel #particles-js {
      padding-top: 2em;
      z-index: -50;
      background: #1e2024;
      position: absolute;
      height: 100%;
      width: 100%; }
    main #head-panel .head-panel-logos {
      padding-top: 1em;}
    main #head-panel .head-panel-logos div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
      main #head-panel .head-panel-logos .col {
        text-align: center; }
    main #head-panel .head-panel-headings {
      margin-bottom: 2em; }
      main #head-panel .head-panel-headings .head-panel-title {
        /* font-family: 'Russo One', sans-serif; */
        /* margin: 1em auto; */
        font-size: 8vw;
        text-align: center;
        font-weight: bolder;
        color: white;
        margin-bottom: 0.1em;
        width: 100%; }
      main #head-panel .head-panel-headings .head-panel-subtitle {
        color: white;
        text-align: center;
        font-size: 1.3em;
        width: 100%; }
    main #head-panel .head-panel-dates {
      color: white;
      font-size: 1.5em;
      display: block;
      text-align: center;
      font-weight: bold; }
    main #head-panel .head-panel-register button {
      font-family: 'Audiowide', cursive;
      margin: 1em auto;
      padding: 12px 40px;
      background: #00B939;
      border-color: #00B939; }
    @media only screen and (max-width: 768px) {
      main #head-panel {
        padding-bottom: 0px; }
        main #head-panel #particles-js {
          height: 100%; }
        main #head-panel .head-panel-headings .head-panel-title {
          font-size: 9vw; }
        main #head-panel .head-panel-headings .head-panel-subtitle {
          font-size: 0.8em; }
        main #head-panel .head-panel-dates {
          font-size: 1.3em; }
          main #head-panel .head-panel-logos div img {
            width: 30%;
          } }
    @media only screen and (max-width: 450px) {
      main #head-panel {
        padding: 3em 0 4em 0; }
        main #head-panel #particles-js {
          height: 100%; }
        main #head-panel .head-panel-headings {
          padding-top: 1em; }
        main #head-panel .head-panel-logos div img {
          width: 30%;
        } }
  main #about-panel {
    z-index: -60;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("");
    background-size: cover;
    background-position: center;
    padding: 6em 0 3em 0;
    margin-top: 0; }
    main #about-panel .about-panel-darkerbg {
      background: rgba(0, 0, 0, 0.8);
      margin: 0 auto; }
      main #about-panel .about-panel-darkerbg .about-panel-title {
        padding-top: 0.5em;
        color: white;
        font-size: 3em;
        margin-bottom: 1em;
        font-weight: bold;
        text-align: center; }
      main #about-panel .about-panel-darkerbg .about-panel-desc {
        color: white;
        margin: 0 auto; }
        main #about-panel .about-panel-darkerbg .about-panel-desc p {
          text-align: justify;
          margin: 0;
          line-height: 25px;
          padding-bottom: 1em; }
          main #about-panel .about-panel-darkerbg .about-panel-desc p strong {
            font-weight: bolder !important; }
    @media only screen and (max-width: 768px) {
      main #about-panel {
        margin-top: 0; } }
  main #timeline-panel {
    padding: 5em 0; }
    main #timeline-panel #timeline-panel-title {
      color: #00B939;
      text-align: center;
      font-size: 4em;
      font-weight: bold;
      margin-bottom: 1em; }
  main .section-design-blue {
    border-width: 0px 700px 80px 0px;
    border-color: transparent transparent #006790 transparent;
    width: 50%;
    border-style: solid;
    position: absolute;
    left: 0; }
    @media only screen and (max-width: 700px) {
      main .section-design-blue {
        left: initial;
        right: 0; } }
  main .section-design-green {
    border-width: 0px 0px 80px 700px;
    border-color: transparent transparent #00B939 transparent;
    max-width: 50%;
    width: 50%;
    border-style: solid;
    position: absolute;
    right: 0; }
  main #rules-panel {
    color: #333; }
    main #rules-panel .rules-panel-title {
      font-size: 4em;
      color: #006790;
      text-align: center;
      font-weight: bold; }
    main #rules-panel .rule {
      margin-top: 2em; }
      main #rules-panel .rule .rules-heading {
        color: #00B939;
        font-size: 1.5em;
        margin-bottom: 0.2em;
        font-weight: bold; }
  main #sponsor-panel {
    margin-top: 0.5em;
    margin-bottom: 1em; }
    main #sponsor-panel .sponsor-heading {
      text-align: center;
      color: #00B939;
      font-weight: bold;
      display: block;
      font-size: 4em; }
    main #sponsor-panel .sponsors-prime {
      text-align: center; }
      main #sponsor-panel .sponsors-prime .col-md-6 {
        margin: auto; }
        main #sponsor-panel .sponsors-prime .col-md-6 img {
          width: 400px;
          margin: 0 auto; }
    @media only screen and (max-width: 450px) {
      main #sponsor-panel .sponsors-prime {
        margin-top: 2em; }
        main #sponsor-panel .sponsors-prime img {
          margin-top: 0.5em; } }

#sponsors-media {
  text-align: center;
  font-size: 2em;
  display: block;
  margin: 0 auto;
  color: #006790;
  margin-top: 2em;
  font-weight: bold;
}
/*# sourceMappingURL=index.css.map */
