$ecell-green: #00B939;
$ieee-blue: #006790;
$title-font: 4em;

body {
	overflow-x: hidden !important;
	overflow-y: auto; 
	font-family: 'Montserrat', sans-serif !important;
	position: relative;
}
.row {
	margin: 0;
}
header {
	nav {
		padding-top: 0px !important;
		border-width: 5px;
		border-style: solid;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		border-image: linear-gradient(to right, #006687, #57B847 110%);
		border-image-slice: 2;
		background: #1e2024;
		transition: all 0.4s ease;
		.navbar-nav {
			margin: 0 auto;
			.nav-item {
				.nav-link {
					color: white;
					border-top: 5px solid #1e2024;
					&.active {
						border-width: 5px;
						border-style: solid;
						border-bottom: 0px;
						border-left: 0px;
						border-right: 0px;
						border-image: linear-gradient(to right, #006687, #57B847 110%);
						border-image-slice: 2;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 991px) {
		nav {
			.navbar-nav {
				.nav-item {
					.nav-link {
						&.active{
							border: 0;
						}
					}
				}
			}
		}
	}
}
main {
	.anchor-padding {
		padding-top: 50px;
		margin-top: -50px;
	}
	padding-top: 3em;
	.container-fluid {
		padding: 0;
	}
	#head-panel {
		padding-bottom: 4rem;
		margin-bottom: 1em;
		#particles-js {
			padding-top: 2em;
			z-index: -50;
			background: #1e2024;
			position: absolute;
			height: 100%;
			width: 100%;
		}
		.head-panel-logos {
			display: none;
			padding-top: 2em;
			padding-bottom: 2em;
			.col {
				text-align: center;
			}
		}
		.head-panel-headings {
			margin-bottom: 6em;
			.head-panel-title {
				font-family: 'Russo One', sans-serif;
				margin: 1em auto;
				font-size: 8vw;
				text-align: center;
				font-weight: bolder;
				color: white;
				margin-bottom: 0.1em;
				width: 100%;
			}
			.head-panel-subtitle {
				color: white;
				margin: 0 auto;
				text-align: center;
				font-size: 0.9em;
				width: 100%;
			}
		}
		.head-panel-dates {
			color: white;
			font-size: 2em;
			display: block;
			text-align: center;
			font-weight: bold;
		}
		.head-panel-register {
			button {
				font-family: 'Audiowide', cursive;
				margin: 2em auto;
				padding: 12px 40px;
				background: $ecell-green;
				border-color: $ecell-green;
			}
		}
		@media only screen and (max-width: 768px) {
			padding-bottom: 0px;
			#particles-js {
				height: 70%; 
			}
			.head-panel-headings {
				.head-panel-title {
					font-size: 9vw;
				}
				.head-panel-subtitle {
					font-size: 0.7em;
				}
			}
			.head-panel-dates {
				font-size: 1.3em;
			}
		}
		@media only screen and (max-width: 450px) {
			padding: 3em 0 4em 0; 
			#particles-js {
				height: 100%; 
			}
			.head-panel-headings {
				padding-top: 3em;
			}
		}
	}
	#about-panel {
		z-index: -60;
		background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('');
		background-size: cover;
		background-position: center;
		padding: 6em 0 3em 0;
		margin-top: 4rem;
		.about-panel-darkerbg {
			background: rgba(0,0,0,0.8);
			margin: 0 auto;
			.about-panel-title {
				padding-top: 0.5em;
				color: white;
				font-size: 3em;
				margin-bottom: 1em;
				font-weight: bold;
				text-align: center;
			}
			.about-panel-desc {				
				color: white;
				margin: 0 auto;
				p {
					text-align: justify;
					margin: 0;
					line-height: 25px;
					padding-bottom: 1em;
					strong {
						font-weight: bolder !important;
					}
				}	
			}
		}
		@media only screen and (max-width: 768px) {
			margin-top: 0;
		}
	}
	#timeline-panel {
		padding: 5em 0;
		#timeline-panel-title {
			color: $ecell-green;
			text-align: center;
			font-size: $title-font;
			font-weight: bold;
			margin-bottom: 1em;
		}
	}
	.section-design-blue {
		border-width: 0px 700px 80px 0px;
		border-color: transparent transparent $ieee-blue transparent;
		width: 50%;
		border-style: solid;
		position: absolute;
		left: 0;
		@media only screen and (max-width: 700px) {
			left: initial;
			right: 0;
		}
	}
	.section-design-green {
		border-width: 0px 0px 80px 700px;
		border-color: transparent transparent $ecell-green transparent;
		max-width: 50%;
		width: 50%;
		border-style: solid;
		position: absolute;
		right: 0;
	}
	#rules-panel {
		color: #333;
		margin-top: 5em;
		.rules-panel-title {
			font-size: $title-font;
			color: $ieee-blue;
			text-align: center;
			font-weight: bold;
		}
		.rule {
			margin-top: 2em;
			.rules-heading {
				color: $ecell-green;
				font-size: 1.5em;
				margin-bottom: 0.2em;
				font-weight: bold;
			}

		}
	}
	#sponsor-panel {
		margin-top: 0.5em;
		margin-bottom: 1em;
		.sponsor-heading {
			text-align: center;
			color: $ecell-green;
			font-weight: bold;
			display: block;
			font-size: $title-font;
		}
		.sponsors-prime {
			text-align: center;
			img {
				// height: 200px;
				width: 400px;
				margin: 0 auto;
			}
		}
	}

}