$ecell-green: #00B939;
$ieee-blue: #006790;
$title-font: 4em;

body {
	overflow-x: hidden !important;
	overflow-y: auto; 
	font-family: sans-serif !important;
}
.row {
	margin: 0;
}
header {
	nav {
		border-width: 5px;
		border-style: solid;
		border-top: 0px;
		border-left: 0px;
		border-right: 0px;
		border-image: linear-gradient(to right, #006687, #57B847 110%);
		border-image-slice: 2;
		.navbar-nav {
			margin: 0 auto;
			.nav-item {
				.nav-link {
					color: white;
				}
			}
		}
	}
}
main {
	.container-fluid {
		padding: 0;
	}
	.head-panel {
		padding-top: 2rem;
		padding-bottom: 4rem;
		.head-panel-logos {
			.col {
				text-align: center;
			}
		}
		.head-panel-headings {
			.head-panel-title {
				margin: 0 auto;
				font-size: 4em;
				text-align: center;
				font-weight: bolder;
				color: white;
			}
		}
		.head-panel-register {
			button {
				margin: 2em auto;
				padding: 12px 40px;
			}
		}
	}
	.about-panel {
		background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../images/AboutUS.jpg');
		background-size: cover;
		background-position: center;
		padding: 3em 0;
		.about-panel-darkerbg {
			background: rgba(0,0,0,0.5);
			margin: 0 auto;
			.about-panel-title {
				color: white;
				font-size: 3em;
				margin-bottom: 1em;
				font-weight: bold;
				text-align: center;
			}
			.about-panel-desc {				
				color: white;
				margin: 0 auto;
				p {
					text-align: justify;
					margin: 0;
				}	
			}
		}
	}
	.timeline-panel {
		padding: 3em 0;
		#timeline-panel-title {
			color: $ecell-green;
			text-align: center;
			font-size: $title-font;
			font-weight: bold;
		}
	}
	.section-design-blue {
		border-width: 0px 700px 80px 0px;
		border-color: transparent transparent $ieee-blue transparent;
		width: 50%;
		border-style: solid;
		position: absolute;
		left: 0;
	}
	.section-design-green {
		border-width: 0px 0px 80px 700px;
		border-color: transparent transparent $ecell-green transparent;
		max-width: 50%;
		width: 50%;
		border-style: solid;
		position: absolute;
		right: 0;
	}
	.rules-panel {
		color: #333;
		margin-top: 8em;
		.rules-panel-title {
			font-size: $title-font;
			color: $ieee-blue;
			text-align: center;
		}
		.rule {
			margin-top: 2em;
			.rules-heading {
				color: $ecell-green;
				font-size: 1.5em;
				margin-bottom: 0.2em;
				font-weight: bold;
			}

		}
	}

}